$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Ensure pointer without href
.pagination a,
.nav a {
  cursor: pointer;
}

.panel-tabtop {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

.panel-noplans {
  padding-top:    $line-height-computed * 2;
  padding-bottom: $line-height-computed * 2;
}
