$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Don’t remove the 2px on last-child tr in thead
.panel {
  > .table-bordered,
  > .table-responsive > .table-bordered {
    > thead {
      > tr {
        &:last-child > th {
          border-bottom: 2px solid $table-border-color;
        }
      }
    }
  }
}

// Ensure pointer without href
.pagination,
.pager,
.nav {
  a {
    cursor: pointer;
  }
}

.panel-tabtop {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

.panel-noplans {
  padding-top:    $line-height-computed * 2;
  padding-bottom: $line-height-computed * 2;
}

.plan-table__cell--edited {
  font-weight: bold;
  background-color: lighten($brand-primary, 46%);

  .table-hover > tbody > tr:hover > & {
    background-color: lighten($brand-primary, 40%);
  }
}
