<div class="row header">
  <h3 class="text-muted">mortgage</h3>
  <hr>
</div>

<div class="row">
  <form role="form">
    <div class="row">
      <div class="col-xs-5">
        <label for="mortgage.startISO8601">Start date</label>
      </div>
      <div class="col-xs-5">
        <label for="mortgage.debt">Total debt</label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          <input id="mortgage.startISO8601" class="form-control" type="month" required ng-model="mortgage.startISO8601" ng-click="selectThis($event)">
        </div>
      </div>
      <div class="col-xs-5">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-gbp"></span><span class="text-hide">£</span></span>
          <input id="mortgage.debt" class="form-control" type="number" ng-model="mortgage.debt" ng-click="selectThis($event)">
        </div>
      </div>
      <div class="col-xs-2">
        <button class="btn btn-primary btn-block" type="submit" ng-click="go()">Go</button>
      </div>
    </div>
  </form>
  <hr>
</div>

<div class="row">
  <button class="btn btn-default pull-right" ng-click="newPlan()"><span class="glyphicon glyphicon-plus"></span> New Plan</button>
  <tabset justified="false">
    <tab heading="Overview">
      <div class="panel panel-default panel-tabtop">
        <div class="panel-body">
          <h2>Overview</h2>
        </div>

        <table class="table table-condensed table-striped table-hover table-bordered">
          <thead>
            <tr>
              <td>Plan</td>
              <td>Duration</td>
              <td>Totals</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="plan in mortgage.plans">
              <td>{{plan.name}}</td>
              <td>
                <progress max="mortgage.max.totalPayment">
                  <bar value="plan.totals.totalPayment" type="info"><span>£{{plan.totals.totalPayment|number:2}}</span></bar>
                </progress>
                <progress max="mortgage.max.totalPayment">
                  <bar value="mortgage.debt" type="success"><span>£{{mortgage.debt|number:2}}</span></bar>
                  <bar value="plan.totals.interestCharged" type="danger"><span>£{{plan.totals.interestCharged|number:2}}</span></bar>
                </progress>
              </td>
              <td>{{plan.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </tab>

    <tab heading="No plans yet" ng-if="!mortgage.plans.length">
      <div class="panel panel-default panel-tabtop panel-noplans">
        <button ng-click="newPlan()" class="btn btn-primary center-block"><span class="glyphicon glyphicon-plus"></span> Create your first plan</button>
      </div>
    </tab>

    <tab heading="{{plan.name}}" ng-repeat="plan in mortgage.plans" active="plan.active">
      <div class="panel panel-default panel-tabtop">
        <div class="panel-body">
          <h2><span editable-text="plan.name" onshow="selectThis()">{{plan.name}}</span></h1>
          <br>
          <ul class="nav nav-pills">
            <li>
              <span class="glyphicon glyphicon-time"></span>
              <ng-pluralize count="plan.stats.yearsMonths.years" when="{'0': '', 'one': '1 year', 'other': '{} years'}"></ng-pluralize><span ng-if="plan.stats.yearsMonths.years && plan.stats.yearsMonths.months">, </span><ng-pluralize count="plan.stats.yearsMonths.months" when="{'0': '', 'one': '1 month', 'other': '{} months'}"></ng-pluralize>
              ({{mortgage.start.format('MMM YYYY')}}—{{mortgage.end.format('MMM YYYY')}})
            </li>

            <li>
              <span class="text-info">
                <span class="glyphicon glyphicon-arrow-right error"></span>
                {{plan.totals.totalPayment|number:2}}
              </span>
            </li>

            <li>
              <span class="text-danger">
                <span class="glyphicon glyphicon-arrow-up error"></span>
                {{plan.totals.interestCharged|number:2}}
              </span>
            </li>

            <li>
              <span class="text-success">
                <span class="glyphicon glyphicon-arrow-down error"></span>
                {{mortgage.debt|number:2}}
              </span>
            </li>
          </ul>

          <div class="row">
            <div class="col-xs-2 text-left">
              <ul class="pagination">
                <li><a ng-click="(plan.currentYear > 1) && (plan.currentYear = plan.currentYear - 1)">« Previous</a></li>
              </ul>
            </div>
            <div class="col-xs-8 text-center">
              <pagination total-items="plan.stats.months" items-per-page="12" direction-links="links" boundary-links="false" page="plan.currentYear" max-size="15" rotate="false">
              </pagination>
            </div>
            <div class="col-xs-2 text-right">
              <ul class="pagination">
                <li><a ng-click="(plan.currentYear < plan.stats.wholeYears) && (plan.currentYear = plan.currentYear + 1)">Next »</a></li>
              </ul>
            </div>
          </div>
        </div>

        <table class="table table-condensed table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th rowspan="2" class="text-center">Month</th>
              <th rowspan="2" class="text-center"><abbr title="Interest Rate">IR</abbr> %</th>
              <th rowspan="2" class="text-center">Regular<br>payment</th>
              <th rowspan="2" class="text-center">Extra</th>
              <th colspan="3" class="text-center">This month</th>
              <th colspan="3" class="text-center">Running totals</th>
              <th rowspan="2" class="text-center">Debt countdown</th>
            </tr>
            <tr>
              <th class="text-center text-info"><span class="glyphicon glyphicon-arrow-right" tooltip="Total payment this month (£)"></span></th>
              <th class="text-center text-danger"><span class="glyphicon glyphicon-arrow-up" tooltip="Interest charged this month (£)"></span></th>
              <th class="text-center text-success"><span class="glyphicon glyphicon-arrow-down" tooltip="Debt paid off this month (£)"></span></th>
              <th class="text-center text-info"><span class="glyphicon glyphicon-arrow-right" tooltip="Total payment so far (£)"></span></th>
              <th class="text-center text-danger"><span class="glyphicon glyphicon-arrow-up" tooltip="Interest charged so far (£)"></span></th>
              <th class="text-center text-success"><span class="glyphicon glyphicon-arrow-down" tooltip="Debt paid off so far (£)"></span></th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="month in plan.monthsForYear(plan.currentYear)" ng-class="{active: month.explicit}">
              <td class="text-center">{{month.date.format('MMM YYYY')}}</td>

              <!-- TODO custom directive for editable value field -->
              <td class="text-center" ng-repeat="prop in ['interestRate', 'standardPayment', 'additionalPayment']" ng-class="{'plan-table__cell--edited': plan.hasMonthValue(month.i, prop)}">
                <button class="pull-left btn btn-link btn-xs" ng-if="plan.hasMonthValue(month.i, prop) && !editing(month.i, prop)" ng-click="plan.removeMonthValue(month.i, prop)"><span class="glyphicon glyphicon-remove"></span></button>
                <span class="text-center" type="number" editable-text="month[prop]" e-style="width: 6em" onaftersave="plan.setMonthValue(month.i, prop, month[prop])" onshow="editing(month.i, prop, true); selectThis()" onhide="editing(month.i, prop, false)">{{month[prop]}}</span>
              </td>

              <td class="text-center">{{month.totalPayment|number:2}}</td>
              <td class="text-center">{{month.interestCharged|number:2}}</td>
              <td class="text-center">{{month.debtRepayment|number:2}}</td>
              <td class="text-center">{{month.cumulativeTotalPayment|number:2}}</td>
              <td class="text-center">{{month.cumulativeInterestCharged|number:2}}</td>
              <td class="text-center">{{month.cumulativeDebtRepayment|number:2}}</td>
              <td class="text-center">{{month.remainingDebt|number:2}}</td>
            </tr>
          </tbody>
        </div>
      </table>

      <div class="panel-footer">

        <button class="btn btn-default" ng-click="removePlan(plan)"><span class="glyphicon glyphicon-trash"></span> Delete plan</button>
      </div>
    </tab>
  </tabset>
</div>
